<div class="container">
  <section class="mt-5">
    <carousel [interval]="myInterval">
      <slide>
        <img src="assets/Banner1.jpg" alt="first slide" class="d-block w-100" />
      </slide>
      <slide>
        <img src="assets/Banner2.jpg" alt="secod slide" class="d-block w-100" />
      </slide>
      <slide>
        <img src="assets/Banner3.jpg" alt="third slide" class="d-block w-100" />
      </slide>
    </carousel>
  </section>

  <section class="mt-5">
    <div class="row">
      <div class="col-12 mb-6">
        <h1>Categories</h1>
      </div>
    </div>
    <div class="row">
      <div>Some tags before</div>
      <owl-carousel-o [options]="customOptions">
        @for (slide of slidesStore; track slide.id) {
        <ng-template carouselSlide [id]="slide.id">
          <mat-card class="example-card" appearance="outlined">
            <img
              mat-card-image
              style="height: 200px"
              [src]="slide.src"
              [alt]="slide.alt"
            />
            <mat-card-content>
              <p>
                {{ slide.title }}
              </p>
            </mat-card-content>
          </mat-card>
        </ng-template>
        }
      </owl-carousel-o>
    </div>
  </section>

  <section class="mt-5">
    <div class="row">
      <div class="col-12 mb-6">
        <h1>Popular products</h1>
      </div>
    </div>
    <div class="row"></div>
  </section>
</div>
